//@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.relative{
  position: relative;
}

.message-container {
  border: 1px solid $border-color-secondary;
  display: flex;
  min-height: 40px;
  border-radius: 8px;
  padding: 8px;

  &__message {
    display: flex;
    justify-content: center;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}


.w-75px {
  width: 75px;
}

.w-100px {
  width: 100px;
}

.language-block {
  li.active {
    a {
      text-decoration: underline;
    }
  }

  a {
    font-weight: normal;
    text-decoration: none;
  }
}