@import "variables";

// Sizes

$margin-none: 0;
$margin-sm:   5;
$margin-base: 15;
$margin-lg:   30;
$margin-xl:   50;
$margin-xxl:  100;

$padding-xxl:  100;
$padding-xl:   50;
$padding-lg:   30;
$padding-base: 15;
$padding-sm:   5;
$padding-none: 0;

@mixin make-paddings($class, $padding){
  .p-#{$class}-#{$padding} { padding: $padding * 1px !important; }
  .pl-#{$class}-#{$padding} { padding-left: $padding * 1px !important; }
  .pr-#{$class}-#{$padding} { padding-right: $padding * 1px !important; }
  .pt-#{$class}-#{$padding} { padding-top: $padding * 1px !important; }
  .pb-#{$class}-#{$padding} { padding-bottom: $padding * 1px !important; }
  .pv-#{$class}-#{$padding} { @extend .pt-#{$class}-#{$padding}; @extend .pb-#{$class}-#{$padding}; }
  .ph-#{$class}-#{$padding} { @extend .pl-#{$class}-#{$padding}; @extend .pr-#{$class}-#{$padding}; }
}

@mixin make-size($offset){
  .size-#{$offset} { font-size: $offset * 2!important; }
}
@mixin make-padding($offset){
  .p-#{$offset} { padding: #{$offset}px!important; }
}
@mixin make-margin($offset){
  .m-#{$offset} { margin: #{$offset}px!important; }
}

@mixin make-width($offset){
  .w-#{$offset}px { width: #{$offset}px!important; }
}

@mixin make-border-radius($offset){
  .br-#{$offset} { border-radius: #{$offset}px!important; }
}

@mixin make-margins($class, $margin){
  .m-#{$class}-#{$margin} { margin: $margin * 1px !important; }
  .ml-#{$class}-#{$margin} { margin-left: $margin * 1px !important; }
  .mr-#{$class}-#{$margin} { margin-right: $margin * 1px !important; }
  .mt-#{$class}-#{$margin} { margin-top: $margin * 1px !important; }
  .mb-#{$class}-#{$margin} { margin-bottom: $margin * 1px !important; }
  .mv-#{$class}-#{$margin} { @extend .mt-#{$class}-#{$margin}; @extend .mb-#{$class}-#{$margin}; }
  .mh-#{$class}-#{$margin} { @extend .ml-#{$class}-#{$margin}; @extend .mr-#{$class}-#{$margin}; }
}

@mixin make-size($offset) {
  .size-#{$offset} { font-size: $offset * 2px !important; }
}

@mixin make-all-paddings($class){
  @include make-paddings($class, $padding-none);
  @include make-paddings($class, $padding-sm);
  @include make-paddings($class, $padding-base);
  @include make-paddings($class, $padding-lg);
  @include make-paddings($class, $padding-xl);
  @include make-paddings($class, $padding-xxl);
}
@mixin make-all-margins($class){
  @include make-margins($class, $margin-none);
  @include make-margins($class, $margin-sm);
  @include make-margins($class, $margin-base);
  @include make-margins($class, $margin-lg);
  @include make-margins($class, $margin-xl);
  @include make-margins($class, $margin-xxl);
}


@include make-all-paddings(xs);
@include make-all-margins(xs);

$font-size-list: 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 22 23 24 25 26 27 28 29 30 31 32 33;
@each $value in $font-size-list {
  @include make-size($value);
}

$margin-list: 4 8 10 12 14 16 18 20 24;
@each $value in $margin-list {
  .ml-#{$value} { margin-left: $value * 1px !important; }
  .mr-#{$value} { margin-right: $value * 1px !important; }
  .mt-#{$value} { margin-top: $value * 1px !important; }
  .mb-#{$value} { margin-bottom: $value * 1px !important }
}

@media (min-width: $screen-sm-min) {
  @include make-all-paddings(sm);
  @include make-all-margins(sm);
}
@media (min-width: $screen-md-min) {
  @include make-all-paddings(md);
  @include make-all-margins(md);
}
@media (min-width: $screen-lg-min) {
  @include make-all-paddings(lg);
  @include make-all-margins(lg);
}

$margin: 8 16;
@each $value in $margin {
  @include make-margin($value);
}

$padding: 8 16;
@each $value in $padding {
  @include make-padding($value);
}

$border: 4 8 12 16 20;
@each $value in $border {
  @include make-border-radius($value);
}

$width: 20 25 30 35 40 45 50 55 60 65 70 75 100 150 200 250 300;
@each $value in $width {
  @include make-width($value);
}