@import "~bootstrap/scss/bootstrap";
@import "reset";
@import "common";
@import "variables";
@import "size";

html,
body {
  height: 100%;
  color: #515164;

  a {
    color: #515164;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

:root {
  --primary: #111;
  --text-white: white;
  --header-height: 60px;
}

#root {
  height: 100vh;
}

.layout {
  height: 100vh;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.not-found {
  border: 1px solid #000;
  max-width: 300px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 0;
}


header {
  background-color: var(--primary);
  position: sticky;
  border-bottom: 1px solid #333;
  top: 0;
  font-size: 14px;
  line-height: 2;
  z-index: 999;

  a {
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }


  .logotype {
    color: var(--text-white);
    display: flex;
    align-items: center;
    height: var(--header-height);
  }

  ul {
    margin: 0;
    display: flex;

    li {
      display: flex;
      font-size: 12px;
      list-style-type: none;
      margin: 0 16px 0 0;

      a {
        color: #ddd;
        height: var(--header-height);
        display: flex;
        align-items: center;
      }
    }
  }
}

footer {
  border-top: 1px solid lightgray;

  address {
    height: 70px;
    display: flex;
    align-items: center;
  }
}

.table-block {
  width: 100%;

  tr, td, th {
    border: 1px solid #ccc;
  }

  tr {
    min-height: 40px;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  td, th {
    padding: 6px;
  }
}

