$menu_color: black;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;

$border-color-primary: #e5e7eb;
$border-color-secondary: #a2a4a6;

$bg_calendar-cell-active: #98D45F;
$bg_calendar-cell-booked: #ccc;
$bg_image_calendar-cell-booked: repeating-linear-gradient(60deg, transparent, transparent 2px, #eee 2px, #eee 7px);